{%extends "layout.html" %}

{% block content %}
<!-- Background -->
<div class="hero-wrap js-fullheight" style="background-image: url('/static/images/backgroundP.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate mb-5 pb-5 text-center text-md" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" ><br>{% if success %}{{success}} {{fl.flight_name}} {{fi.flight_name}}{% else %}{{fail}}{% endif %}</h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
