{% extends "layout.html" %}

{% block content %}
  <!-- Background (picture/Name of page) -->
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/backgroundP.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-12 ftco-animate mb-5 pb-5 text-center text-md-right" data-scrollax=" properties: { translateY: '50%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-size:70px">FLY<br><font style="font-size:50px">wherever you want</font></h1>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Search field -->
    <section class="ftco-section justify-content-center ftco-search" >
    	<div class="container-wrap ml-auto" >
    		<div class="row no-gutters" >
          <div class="col-md-12 nav-link-wrap">
            <div class="nav nav-pills justify-content-center text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Flight</a>
            </div>
          </div>
          <div class="col-md-12 tab-wrap">
            <div class="tab-content p-4 px-5" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab" >
              	<form action="{% url 'search' %}" method="POST" class="search-destination">{% csrf_token %}
              		<div class="row">

              			<div class="col-md align-items-end">
              				  <div class="form-group" >
              					  <label for="#">From</label>
	              				     <div class="form-field">
                               <div class="select-wrap">
	              					        <div class="icon"><span class="icon-my_location"></span></div>
                                    <select class="form-control" name="from" method="POST" value="">
			                      	         {% for city in cities %}
                                          <option>{{city.city_name}}</option>
                                      {% endfor %}
			                             </select>
					                   </div>
				                  </div>
              			   </div>
                    </div>

                    <div class="col-md align-items-end">
              				<div class="form-group">
              					<label for="#">Where</label>
	              				  <div class="form-field">
                            <div class="select-wrap">
	              					    <div class="icon"><span class="icon-map-marker"></span></div>
                                <select name="where" method="POST" value="" class="form-control">
			                          	{% for city in cities %}
                                    <option>{{city.city_name}}</option>
                                  {% endfor %}
			                         </select>
					                  </div>
				                </div>
              			</div>

                    </div>
              			<div class="col-md align-items-end">
              				<div class="form-group">
              					<label for="#">Check In</label>
              					<div class="form-field">
	              					<div class="icon"><span class="icon-map-marker"></span></div>
					                <input type="text" class="form-control checkin_date" placeholder="" name="checkin" method="POST">
					              </div>
				              </div>
              			</div>

              			<div class="col-md align-items-end">
              				<div class="form-group">
              					<label for="#">Check Out</label>
              					<div class="form-field">
	              					<div class="icon"><span class="icon-map-marker"></span></div>
					                <input type="text" class="form-control checkout_date" placeholder="" name="checkout" method="POST">
					              </div>
				              </div>
              			</div>

              			<div class="col-md align-self-end">
              				<div class="form-group">
              					<div class="form-field">
					                <input type="submit" value="Search" class="form-control btn btn-primary">
					              </div>
				              </div>
              			</div>
              		</div>
              	</form>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>

    {% block main %}
    <!-- About US -->
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2 class="mb-4">About us</h2>
        </div>
      </div>
    </div>

    <section class="ftco-about d-md-flex">
    	<div class="one-half img" style="background-image: url('static/images/salon.jpg');margin-left:15px;border-radius:8px"></div>
    	<div class="one-half ftco-animate">
        <div>
  				<p>Our company is created in the likeness of aviasales, but better. Quick search, not to waste time waiting. With our login function, you can always see your flights. And the map will not only help you search for a plane, but you can also have a great time with it. Although our project is not ideal, each time we will try to make it better.</p>
  			</div>
    	</div>
    </section>

    <!-- About map -->
		<section class="ftco-about d-md-flex">
      <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
          <h2 class="mb-4">New aircraft map system</h2>
        </div>
        <div>
  				<p>The new map system will not leave you indifferent, all planes are in full view! With this you can:
Look at a specific plane;
View aircraft characteristics (Company, Model, Pilot, Flight Time, etc.);
Enjoy the flight of aircraft, their flight paths;
You no longer have to worry so much about your family and friends. <a href="../map/">Here</a></p>
  			</div>
    	</div>
    	<div class="one-half img" style="background-image: url('static/images/map.png');margin-left:15px;margin-bottom:15  px;border-radius:8px"></div>
    </section>

    <!-- web creators -->
    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
            <h2 class="mb-4">Website creators</h2>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url('static/images/person_1.jpg')"></div>
                  <div class="text">
                    <p class="name">Baitas Ali</p>
                    <span>Web Developer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url('static/images/person_2.jpg')"></div>
                  <div class="text">
                    <p class="name">Erkin Kasiet</p>
                    <span>System Analyst</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url('static/images/person_3.jpg')">
                  </div>
                  <div class="text">
                    <p class="name">Rakhmetulla Timur</p>
                    <span>Interface Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
{% endblock %}
