{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
<div class="hero-wrap" style="background-image: url('/static/images/backgroundP.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '50%' }">
        <br><br><br>
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-size:70px">Map</h1>
      </div>
    </div>
  </div>
</div>
<br>
<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <iframe class="col-md-8" height="700" src="https://www.flightradar24.com/simple?lat=47.9&lon=67.91&z=4" name="iframe" scrolling="auto"></iframe>
      <div class="col-md-4 align-items-end">
        <br>
        <div class="form-group">
          <label for="#">Search</label>
          <div class="form-field">
            <input type="text" class="form-control" placeholder="by id">
          </div>
        </div>
        <div class="form-group">
          <div class="form-field">
            <a href="#myModal2" class="btn btn-primary btn-lg btn-block" data-toggle="modal">Открыть модальное окно</a>
          </div>
        </div>
        <div class="form-group">
          <div class="form-field">
            <div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-body">
                    <img src="../static/images/hotel-1.jpg" class="col-md-8"></img>
                    <p class="col-md-4">Ghbdtn</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
