{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
<div class="hero-wrap" style="background-image: url('/static/images/backgroundP.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate mb-5 pb-5 text-center text-md-left" data-scrollax=" properties: { translateY: '50%' }">
        <br><br><br>
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="font-size:70px">Map</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section contact-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <iframe class="col-md-6" height="500" src="https://www.flightradar24.com/simple?lat=47.9&lon=67.91&z=4" name="iframe" scrolling="auto"></iframe>
      <div class="col-md-6 input-group row">
        <br>
        <form action="/map/result" method="post" class="form-field col-md-12">{% csrf_token %}
            <label for="#">Search</label>
            <input name="id" method="post" type="search" class="form-control" placeholder="input id">
            <br>
            <div class="input-group-append" class="text-md-center">
              <button id="button-addon1" type="submit" class="col-md-10 btn btn-primary">Search</button>
            </div>
        </form>
        {% block result %}
        {% endblock %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
