{%extends "layout.html" %}

{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url('/static/images/backgroundP.jpg');">
      <div class="overlay"></div>
      div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-12 ftco-animate mb-5 pb-5 text-center text-md" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" ><br>User Page</h1>
          </div>
        </div>
      </div>
    </div>



    <section class="ftco-section bg-light">
      <div class="container">
        <div class="row">
        <div class="col-md-5">
      <div class="intro ftco-animate" style="position: relative; overflow:hidden;width:300px;height:300px;">
          <img src="/static/images/person_1.jpg" alt="" class="rounded-circle mx-auto d-block" style="position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:300px; height:300px;object-fit:cover;">
        </div>
      </div>

        <div class="col-md-5">
              <div class="intro ftco-animate">
                <h3 style="text-decoration:underline">Full name</h3>
                <font style="font-size:18.72px">Ali Baitas</font>
                <h3 style="text-decoration:underline">Date of birth</h3>
                <font style="font-size:18.72px">19/10/2000</font>
                <h3 style="text-decoration:underline">Current city</h3>
                <font style="font-size:18.72px">Almaty</font>
                <h3 style="text-decoration:underline">Mobile</h3>
                <font style="font-size:18.72px">8(747)167-36-01</font>
              </div>
        </div>
        <div class="col-md-2">
          <div class="intro ftco-animate">
          <a href="#" style="font-size:24px"><span class="icon-settings"></span></a>
        </div>
        </div>
      </div>
    </div>
    </section>



    <section class="ftco-section">
      <div class="container-fluid intro ftco-animate">
        <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
          <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
              <input type="search" placeholder="Search" aria-describedby="button-addon1" class="form-control border-0 bg-light">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><span class="icon-search"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="intro ftco-ani  mate">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4">
                <h3 style="text-decoration:underline">YOUR FLIGHTS</h3>
              </div>
              <div class="col-md-4">
                <div class="btn-group ">
                  <ul class="navbar nav ml-auto dropdown-toggle" data-toggle="dropdown">
                    <li class="nav-item"><a href=""><h3>sort by</h3></a></li>
                  </ul>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Newest</a>
                    <a class="dropdown-item" href="#">Oldest</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
                <div class="round2 bg-light " style="border:1px solid #e4e7e8">

                <div class="row">
                <div class="col-md-4" style="border-right:1px solid #e4e7e8">
                  <br>
                    <div class="centerPseudo centerFlex" >
                        <input type="submit" value="22500₸" class="btn btn-warning " style="border-radius:10px">

                    </div>
                    <div class="text-center" style="padding-top:20px">
                      <a href=""><h3 style="font-size:15px;text-decoration:underline">FLIGHT KS  -7055</h3></a>
                    </div>
                </div>
                <div class="col-md-8">
                  <div style="padding:20px 0px 20px 0px;border-bottom:1px solid #e4e7e8">
                    <div style="padding-bottom:10px">

                    <img width=90px height=auto src="/static/images/bek_air.png" alt="">

                  </div>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-3">
                          <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">10:45</div>
                          <div style="font-size:13px">Almaty</div>
                          <div style="font-size:13px">16 nov 2019</div>
                        </div>
                        <div class="col-md-6">
                          <div class="container-fluid">
                            <div class="row">
                              <div class="col-md-3" style="padding-left:0px">
                          <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-25deg); ">
                             <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </span>
                           </div>
                          <div class="col-md-6 text-center">
                            1h 35m
                          </div>
                          <div class="col-md-3">
                            <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(25deg);">
                               <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </svg></span>
                          </div>
                        </div>
                      </div>
                          <div class="line-long" style="flex-grow:100;display:block"></div>
                        </div>
                        <div class="col-md-3">
                          <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">12:20</div>
                          <div style="font-size:12px">Nur-Sultan</div>
                          <div style="font-size:12px">16 nov 2019</div>
                        </div>
                      </div>
                    </div>
                </div>
                <div style="padding:20px 0px 20px 0px">
                  <div style="padding-bottom:10px">
                </div>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-3">
                        <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">18:00</div>
                        <div style="font-size:12px">Nur-Sultan</div>
                        <div style="font-size:12px">26 nov 2019</div>
                      </div>
                      <div class="col-md-6">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-3" style="padding-left:0px">
                        <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-25deg); ">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </span>
                         </div>
                        <div class="col-md-6 text-center">
                          1h 30m
                        </div>
                        <div class="col-md-3">
                          <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(25deg);">
                             <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </svg></span>
                        </div>
                      </div>
                    </div>
                        <div class="line-long" style="flex-grow:100;display:block"></div>
                      </div>
                      <div class="col-md-3">
                        <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">19:30</div>
                        <div style="font-size:12px">Almaty</div>
                        <div style="font-size:12px">26 nov 2019</div>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
            </div>
            </div>
          </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
        </div>
      </div>
      </div>
    </section>
{% endblock %}
