{% extends "index.html" %}
{% load poll_extras %}

{% block main %}
<section class="ftco-section" style="background:orange">
  <div class="container-fluid intro ftco-animate">
    <div class="row">
    <div class="col-md-1">
    </div>
    <!-- TICKETS -->
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
      <div class="intro ftco-ani  mate">

      <!-- Tickets -->
      <div class="container-fluid">

{% if flights_checkin %}
{% for flightin in flights_checkin|dictsort:"flight_price" %}
{% if is_two_flight %}
{% for flightout in flights_checkout|dictsort:"flight_price" %}
<div class="round2 bg-light " style="border:1px solid #e4e7e8">
<div class="row">
<div class="col-md-4" style="border-right:1px solid #e4e7e8">
  <br>
  <form class="" action="{% url 'bought'%}" method="post">{% csrf_token %}
    <div class="centerPseudo centerFlex">
        <div style="display:none">
          <input type="text" value="{{flightout.id}}" name="flightout_id">
          <input type="text" value="{{flightin.id}}" name="flightin_id">
          <input type="text" value="{{user.id}}" name="user_id">
        </div>
        <button type="submit" class="btn btn-warning " style="border-radius:10px">
          {% if user.score >= 2000 %}
            {% if user.score >= 20000 %}
              {{flightin.flight_price|pluswithsale10:flightout.flight_price}}
            {% else %}{% if user.score >= 10000 %}
              {{flightin.flight_price|pluswithsale7:flightout.flight_price}}
            {% else %}{% if user.score >= 5000 %}
              {{flightin.flight_price|pluswithsale5:flightout.flight_price}}
            {% else %}{% if user.score >= 2000 %}
              {{flightin.flight_price|pluswithsale3:flightout.flight_price}}
            {% endif %} {% endif %} {% endif %} {% endif %}
          <span style="font-size:10px"><s>{{flightout.flight_price|plus:flightin.flight_price}}</s></span>
          {% else %}{{flightout.flight_price|plus:flightin.flight_price}}{% endif %}₸
        </button>
    </div>
  </form>

</div>

<div class="col-md-8">
  <div style="padding:20px 0px 20px 0px">
    <div style="padding-bottom:10px">
    <img width=90px height=auto src="{{flightin.plane.aircompany.company_logo.url}}" alt="">
  </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">{{flightin.flight_initial_time}}</div>
          <div style="font-size:13px">{{flightin.flight_initial_place}}</div>
          <div style="font-size:13px">{{flightin.flight_initial_date}}</div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3" style="padding-left:0px">
          <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-25deg); ">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </span>
           </div>
          <div class="col-md-6 text-center">
            {{flightin.flight_time}}
          </div>
          <div class="col-md-3">
            <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(25deg);">
               <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </svg></span>
          </div>
        </div>
      </div>
          <div class="line-long" style="flex-grow:100;display:block"></div>
          <form class="" action="{% url 'review' flightin.id%}" method="POST">{% csrf_token %}
            <div class="text-center" style="padding-top:20px">
              <div style="display:none">
                <input type="text" value="{{user.id}}" name="user_id">
              </div>
              <h3 style="font-size:15px;text-decoration:underline">{{flightin.flight_name}}<br></h3>
              <input type="submit" value="{{flightin.plane.plane_rating}}" class="btn btn-warning " style="border-radius:10px">
            </div>
          </form>
        </div>
        <div class="col-md-3">
          <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">{{flightin.flight_last_time}}</div>
          <div style="font-size:12px">{{flightin.flight_last_place}}</div>
          <div style="font-size:12px">{{flightin.flight_last_date}}</div>
        </div>
      </div>

      <div style="border-bottom:1px solid #e4e7e8"><p> </p></div>

      <div style="padding:20px 0px 20px 0px">
        <div style="padding-bottom:10px">
        <img width=90px height=auto src="{{flightout.plane.aircompany.company_logo.url}}" alt="">
      </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">{{flightout.flight_initial_time}}</div>
              <div style="font-size:13px">{{flightout.flight_initial_place}}</div>
              <div style="font-size:13px">{{flightout.flight_initial_date}}</div>
            </div>
            <div class="col-md-6">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-3" style="padding-left:0px">
              <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-25deg); ">
                 <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </span>
               </div>
              <div class="col-md-6 text-center">
                {{flightout.flight_time}}
              </div>
              <div class="col-md-3">
                <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(25deg);">
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </svg></span>
              </div>
            </div>
          </div>
              <div class="line-long" style="flex-grow:100;display:block"></div>
              <form class="" action="{% url 'review' flightout.id %}" method="POST">{% csrf_token %}
                <div class="text-center" style="padding-top:20px">
                  <div style="display:none">
                    <input type="text" value="{{flightout.id}}" name="flightout_id">
                    <input type="text" value="{{user.id}}" name="user_id">
                  </div>
                  <h3 style="font-size:15px;text-decoration:underline">{{flightout.flight_name}}<br></h3>
                  <input type="submit" value="{{flightout.plane.plane_rating}}" class="btn btn-warning " style="border-radius:10px" >
                </div>
              </form>
            </div>
            <div class="col-md-3">
              <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">{{flightout.flight_last_time}}</div>
              <div style="font-size:12px">{{flightout.flight_last_place}}</div>
              <div style="font-size:12px">{{flightout.flight_last_date}}</div>
            </div>
          </div>
    </div>
  </div>
</div></div>
</div>
</div></div>
<br><br>
{% endfor %}
{% else %}
<div class="round2 bg-light " style="border:1px solid #e4e7e8">
<div class="row">
<div class="col-md-4" style="border-right:1px solid #e4e7e8">
  <br>
  <form class="" action="{% url 'bought' %}" method="post">{% csrf_token %}
    <div class="centerPseudo centerFlex">
        <div style="display:none">
          <input type="text" value="{{flightin.id}}" name="flightin_id">
          <input type="text" value="{{user.id}}" name="user_id">
        </div>
        <input type="submit" value="{{flightin.flight_price}}₸" class="btn btn-warning " style="border-radius:10px" >
    </div>
  </form>
</div>

<div class="col-md-8">
  <div style="padding:20px 0px 20px 0px">
    <div style="padding-bottom:10px">
    <img width=90px height=auto src="{{flightin.plane.aircompany.company_logo.url}}" alt="">
  </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">{{flightin.flight_initial_time}}</div>
          <div style="font-size:13px">{{flightin.flight_initial_place}}</div>
          <div style="font-size:13px">{{flightin.flight_initial_date}}</div>
        </div>
        <div class="col-md-6">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3" style="padding-left:0px">
          <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(-25deg); ">
             <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </span>
           </div>
          <div class="col-md-6 text-center">
            {{flightin.flight_time}}
          </div>
          <div class="col-md-3">
            <span><svg width="30" height="30" viewBox="0 0 24 24" fill=orange xmlns="http://www.w3.org/2000/svg" style="transform: rotate(25deg);">
               <path fill-rule="evenodd" clip-rule="evenodd" d="M17 13H14C12.4577 11.5739 10.1159 9.82474 8.16374 8.01001L6.84295 8C7.60515 9.49106 8.69945 11.4376 9.5 13H6.5C5.54148 12.2794 4.45139 11.6727 3.69008 11.1028C3.27567 10.7932 2.80644 11.0649 3.08297 11.6043C4.38443 14.1509 4.90267 15.176 4.90267 15.176C5.12943 15.6181 5.48619 15.9964 6 16H19.7317C20.7473 15.9659 20.9885 15.3663 21 14.7944C21 13.5 19.5675 13.0196 17 13Z"></path> </svg></span>
          </div>
        </div>
      </div>
          <div class="line-long" style="flex-grow:100;display:block"></div>
          <form class="" action="{% url 'review' flightin.id%}" method="POST">{% csrf_token %}
            <div class="text-center" style="padding-top:20px">
              <div style="display:none">
                <input type="text" value="{{user.id}}" name="user_id">
              </div>
              <h3 style="font-size:15px;text-decoration:underline">{{flightin.flight_name}}<br></h3>
              <input type="submit" value="{{flightin.plane.plane_rating}}" class="btn btn-warning " style="border-radius:10px">
            </div>
          </form>
        </div>
        <div class="col-md-3">
          <div style="color: rgba(0, 0, 0, 0.8);line-height: 1.5;font-weight: 400;font-size:30px">{{flightin.flight_last_time}}</div>
          <div style="font-size:12px">{{flightin.flight_last_place}}</div>
          <div style="font-size:12px">{{flightin.flight_last_date}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
  <br><br>
{% endif %}
{% endfor %}
{%else%}
<h1>{{empty}}</h1>
{% endif %}
<div class="col-md-2">
</div>
<div class="col-md-1">
</div>
</div>
</div>
</section>
{% endblock %}
